name: Deploy Infrastructure

on:
  push:
    branches: [ "main" ]      # Runs automatically on push
  workflow_dispatch:          # Allows manual trigger button

jobs:
  terraform:
    name: "Terraform Apply"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Apply
        # Inject configuration + secrets directly into the environment
        env:
          TF_VAR_hcloud_token: ${{ secrets.HCLOUD_TOKEN }}
          TF_VAR_ssh_public_key: ${{ secrets.SSH_PUBLIC_KEY }}
          TF_VAR_env: "dev"
          TF_VAR_server_type: "cax11"
        run: |
          terraform apply \
            -auto-approve
