name: Deploy Infrastructure

on:
  push:
    branches: [ "main" ]      # Runs on every push to main
  workflow_dispatch:          # Allows manual trigger button

jobs:
  terraform:
    name: "Terraform Apply"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Apply
        # We inject the secrets here as Environment Variables
        env:
          TF_VAR_hcloud_token: ${{ secrets.HCLOUD_TOKEN }}
          TF_VAR_ssh_public_key: ${{ secrets.SSH_PUBLIC_KEY }}
        run: |
          terraform apply \
            -var-file=dev.tfvars \
            -auto-approve
